body{
    margin: 0;
    padding: 0;
	font-family: sans-serif ;
    width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),url(images/buses.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	padding-top: 30px;
	box-sizing: border-box;
}
.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background: white;
	border-radius: 10px;
}
.center.form{
	padding: 0 40px;
	box-sizing: border-box;
}
form .txt_field{
	position: relative;
	border-bottom: 2px solid #adadad;
	margin: 30px;
}
.txt_field input{
	width: 100%;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	background-color: none;
	outline: none;
}
.txt_field label{
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
	transition: .5s;
}
.txt_field span::before{
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 0%;
	height: 2px;
	background: #2691d9;
	transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
	top: -5px;
	color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
	width: 100%;
}
.social-icons{
    margin: 30px;
    text-align: center;
}
.pass{
	margin: -5px 0 20px 5px;
	color: #a6a6a6;
	cursor: pointer;
}
.pass:hover{
	text-decoration: underline;
}
.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}
.submit-btn[type="submit"]{
	width: 100%;
	height: 50px;
	border: 1px solid;
    background: linear-gradient(to right, skyblue, darkblue);
	outline: none;
	color: #e9f4fb;
	cursor: pointer;
	border-radius: 25px;
	font-size: 18px;
	font-weight: 700;
}
.submit-btn[type="submit"]:hover{
	border-color: skyblue;
	transition: .5s;
}
.signup_link{
	margin: 30px 0;
	text-align: center;
	font-size: 16px;
	color: #666666;
}
.signup_link a{
	color: #2691d9;
	text-decoration: none;
}
.signup_link a:hover{
	text-decoration: underline;
}
.title{
    text-align: center;
    padding: 10px 30px;
    background: transparent;
    color: skyblue;
    position: relative;
    outline: none;
}
h3{
	color: skyblue;
}
.login_link a{
	color: #2691d9;
	text-decoration: none;
}
.login_link a:hover{
	text-decoration: underline;
}
.container{
	background-position: center;
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	padding-top: 30px;
	box-sizing: border-box;
}
.row{
	width: 100%;
	padding: 0px 80px;
}
.navbar{
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0px;
	position: relative;
	z-index: 1;
}
.navbar ul{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
.navbar ul li{
	list-style: none;
}
.navbar ul li a{
	padding: 18px;
	border-radius: 5px;
	font-family: sans-serif;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}
.navbar ul li a ul .dropdown li{
	display: block;
}
.navbar ul li a ul .dropdown {
	width: 100%;
	color: #fff;
	position: absolute;
	z-index: 999;
	display: none;
}
.navbar ul li a:hover{
	background-color: #5d88d5;
}
.navbar h1{
	color: #fff;
	font-size: 40px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 10px;
}
.logo{
	width: 155px;
}
.logo a{
	font-size: 16px;
	color: #fff;
	font-family: sans-serif;
}
.logo img{
	width: 30px;
	position: relative;
	z-index: 10;
	cursor: pointer;
}
.content{
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.content h1{
	font-size: 45px;
	color: #fff;
	font-weight: 400;
}
.content p{
	font-size: 16px;
	color: #fff;
}
.content a{
	text-decoration: none;
	margin-top: 20px;
	font-size: 19px;
	display: inline-block;
	letter-spacing: 2px;
	padding: 12px 20px;
	background-color: #5d88d5;
	border-radius: 5px;
	color: #fff;
}
.content a:hover{
	background-color: #2d88d5;
}
.contact-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	background: white;
	border-radius: 10px;
}
form{
	margin: 35px;
}
.input-field{
	width: 400px;
	height: 40px;
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #777;
	border-radius: 14px;
	outline: none;
}
.textarea-field{
	height: 150px;
	padding-top: 10px;
}
.btn{
	border-radius: 20px;
	color: #fff;
	margin-top: 18px;
	padding: 10px;
	background: linear-gradient(to right, skyblue, darkblue);
	font-size: 12px;
	border: none;
	cursor: pointer;
}
.btn:hover{
	border-color: skyblue;
	transition: .5s;
}
.detail-box{
	
}